AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=__fill_me_in__
AWS_SECRET_ACCESS_KEY=__fill_me_in__
S3_BUCKET=your-bucket-name
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:weather-alerts
CITIES=New York,Los Angeles,Chicago
